<% include ../partials/header %>

<header class="jumbotron jumbo-pic">
    <div class="container">
        <h1> Welcome to Must-See Japan </h1>
        <h3>The best sites to see from all over the land of the rising sun</h3>
        <p>
            <a class="btn btn-default btn-large" href="/campgrounds/new">Add New</a>
        </p>
    </div>
</header>

<div class="row text-center" style="display: flex; flex-wrap: wrap">
    <div class="col-lg-12">
        <h2> See everyone's must-see's here!</h2>
    </div>

    <!-- Render the following div for each campground in the DB:-->
    <% campgrounds.forEach((campground) => { %> 
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                  <img src="<%= campground.image %>">
                  <div class="caption">
                        <h4> <%= campground.name %> </h4>
                  </div>
                  <p>
                      <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                            <!-- this campground ↑ relates to the forEach's argument, and the _id refers to mongoDB's randomly(& automatically)-generated ID -->
                  </p>
            </div>
        </div>
    <% }); %>
</div>

<% include ../partials/footer %>