body {
  background-color: black;
}

.welcome-msg{
  background: rgba(0, 0, 0, .4);
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
  padding: .4em;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0; 
  /*They start at opacity 0 to get that "fade in" effect*/
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
  /*the name imageAnimation is abritrary... なんと言ってもいい. 
    "Linear" means that the speed should be the same frmo the beginning to the end */
}

.slideshow li:nth-child(1) { 
  background-image: url(http://images.unsplash.com/photo-1445539348538-d540ff031729?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=cd1e411a6f8713e5065ca7e845090953) 
  /*To do it locally, you'll wanna stick images inside an "images" folder in the "public" directory */
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1471991750293-5fc0e377b550?dpr=2&auto=format&fit=crop&w=1199&h=698&q=80&cs=tinysrgb&crop=&bg=);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1440342359743-84fcb8c21f21?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=7dae758a7173e826b2b931ca58512f83);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1415697747654-db820a209c6f?dpr=2&auto=format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=&bg=);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1478039414627-50a2aee2e122?dpr=2&auto=format&fit=crop&w=1199&h=1799&q=80&cs=tinysrgb&crop=&bg=);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}