.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 1em;
}

.delete-form {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.jumbo-pic{
    background-size: cover;
    background-image: url(http://www.wendytour-th.com/img/pagetop_header_banner/tokyo_fuji_sakura.jpg);
}
